.todoForm {
  display: flex;
  border-radius: 4px;
  background-color: var(--colors-box-bg);
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
  padding: 15px;
  align-items: center;
  margin-bottom: 24px;

  & > input {
    background-color: transparent;
    border: none;
    flex: 1;
    font-size: 18px;
    color: var(--color-text-todo);
    font-family: 'Josefin Sans', sans-serif;

    &:hover, &:focus {
      outline: 0;
    }

    &::placeholder {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      color: var(--color-placeholder-form);
    }
  }
}