.todoForm {
  display: flex;
  border-radius: 4px;
  background-color: var(--colors-box-bg);
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);
  padding: 15px;
  align-items: center;
  margin-bottom: 24px;
}

.todoForm > input {
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
}

.todoForm > input:hover, .todoForm > input:focus {
  outline: 0;
}

.todoForm > input::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

body[data-theme='dark'] .todoForm > input,
body[data-theme='dark'] .todoForm > input::placeholder {
  color: var(--colors-light-gray-blue)
}

body[data-theme='light'] .todoForm > input,
body[data-theme='light'] .todoForm > input::placeholder {
  color: var(--colors-very-dark-gray-blue)
}