.app {
  background-color: var(--colors-theme-primary);
  background-image: var(--background-image-mobile);
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
}

.app::before {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}

.container {
  width: 90%;
  max-width: 560px;
  margin: 0 auto;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 48px;
}
.appHeader h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .app {
    background-image: var(--background-image);
  }
}