/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 24px;
  width: 24px;
  margin-right: 12px;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked, add a blue background */
    &:checked ~ .checkmark {
      background: var(--colors-check-bg);
      box-shadow: none;
    }

    /* Show the checkmark when checked */
    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: transparent;
    border-radius: 100%;
    transition: all .2s ease;
    box-shadow: var(--checkmark-box-shadow);
    
    /* Style the checkmark/indicator */
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 50%;
      top: 50%;
      width: 11px;
      height: 9px;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/icon-check.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  /* On mouse-over, add a background color */
  &:hover input ~ .checkmark {
    box-shadow: 0 0 0 1px var(--colors-primary);
  }
}