@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  min-height: 100%;
}

/* Colors primary */
body {
  --colors-primary: hsl(220, 98%, 61%);
  --colors-check-bg: linear-gradient(90deg, hsl(192, 100%, 67%) 0%,hsl(280, 87%, 65%) 100%);
}

/* Theme light colors & bg's */
body {
  --colors-box-bg: hsl(0, 0%, 98%);
  --checkmark-box-shadow: 0 0 0 1px hsl(233, 11%, 84%);
  --color-placeholder-form: hsl(236, 9%, 61%);
  --color-text-todo: hsl(235, 19%, 35%);
  --color-text-todo-hover: hsl(235, 19%, 35%);
  --color-border: hsl(233, 11%, 84%);
  --color-text-todo-line-through: hsl(236, 9%, 61%);

  --colors-action-text: hsl(236, 9%, 61%);
  --colors-action-text-hover: hsl(235, 19%, 35%);

  --colors-drag-text: hsl(236, 9%, 61%);

  --background-color: hsl(0, 0%, 98%);
  --background-image: url('./assets/bg-desktop-light.jpg');
  --background-image-mobile: url('./assets/bg-mobile-light.jpg');
}

/* Theme dark colors & bg's */
body[data-theme='dark'] {
  --colors-box-bg:  hsl(235, 24%, 19%);  
  --checkmark-box-shadow: 0 0 0 1px hsl(237, 14%, 26%);
  --color-placeholder-form: hsl(234, 11%, 52%);
  --color-text-todo: hsl(234, 39%, 85%);
  --color-text-todo-hover: hsl(236, 33%, 92%);
  --color-border: hsl(237, 14%, 26%);
  --color-text-todo-line-through: hsl(233, 14%, 35%);

  --colors-action-text: hsl(234, 39%, 85%);
  --colors-action-text-hover: hsl(236, 33%, 92%);

  --colors-drag-text: hsl(234, 11%, 52%);

  --background-color: hsl(235, 21%, 11%);
  --background-image: url('./assets/bg-desktop-dark.jpg');
  --background-image-mobile: url('./assets/bg-mobile-dark.jpg');
}